<h1>Welcome jeddi</h1>
<ng-container >
  <span>set the question size:</span>
  <br/>
  <span *ngFor="let size of questionSize; let i = index">
    <button (click)="selectedSize = i" (click)="setSize()">{{ size }}</button>
  </span>
  <br/>
  <span>set the question type:</span>
  <br/>
  <span *ngFor="let size of questionType; let i = index">
    <button (click)="selectedType = i">{{ size }}</button>
  </span>
  <br/>
  <a *ngIf="selectedSize !== undefined" [routerLink]="['/question/', questionSize[selectedSize]]">Start quiz</a>
</ng-container>

