<div class="container">
  <ng-container *ngIf="question && !isQuizFinished && !isLoading">
    <p>{{ question.question }}</p>
    <span *ngFor="let a of question.answerOptions; let i = index">
      <button class="button" id="select-button" (click)="selectedAnswerIndex = i">{{ a }}</button>
    </span>
    <br/>
    <button class="button" (click)="submitAnswer()" >Submit Answer</button>
  </ng-container>

  <ng-container *ngIf="isQuizFinished">
    <app-final-score></app-final-score>
    <a routerLink="/home" class="back-home">Back to home page</a>
  </ng-container>

  <ng-container *ngIf="!question">
    <p>Starting quiz...</p>
  </ng-container>

  <ng-container *ngIf="isLoading">
    <p>Loading next question...</p>
  </ng-container>
</div>

